<form class="change-password-form" (ngSubmit)="onSubmit()">
    <p><b>{{headingText}}</b></p>
    <div class="form-control">
        <label for="OldPassword">Old Password : </label>
        <input type="password" [(ngModel)]="oldPassword" name="OldPassword" id="OldPassword" placeholder="Enter Old Password..." required>
    </div>
    <div class="form-control new-pass-control">
        <label for="NewPassword">New Password : </label>
        <input type="password" [(ngModel)]="newPassword" name="NewPassword" id="NewPassword" placeholder="Enter New Password..." required>
    </div>
    <div class="form-control confirm-new-pass-control">
        <label for="ConfirmNewPassword">Confirm New Password : </label>
        <input type="password" [(ngModel)]="confirmNewPassword" name="ConfirmNewPassword" id="ConfirmNewPassword" placeholder="Enter New Password Again..." required>
    </div>
    <div>
        <app-navigate-back-button></app-navigate-back-button>
        <input class="submit-btn" type="submit" value="{{btnText}}">
    </div>
</form>
