<form class="account-details-form" (ngSubmit)="onSubmit()">
    <p><b>{{headingText}}</b></p>
    <div class="form-control username-control">
        <label for="Username">Username : </label>
        <input type="email" [(ngModel)]="username" name="Username" id="Username" placeholder="Enter Username..."  maxlength="12" required>
    </div>
    <div class="form-control email-control">
        <fa-icon class="info-icon" [ngStyle]="{'color': 'black', 'cursor': 'pointer'}"  [icon]="faInfoCircle" title="This Email will be used to send reminders of tasks if you set them!"></fa-icon>
        <label for="Email">Email : </label>
        <input type="email" [(ngModel)]="email" name="Email" id="Email" placeholder="Enter Email..." required>
    </div>
    <div class="form-control">
        <label for="Password">Password : </label>
        <input type="password" [(ngModel)]="password" name="Password" id="Password" placeholder="Enter Password..." required>
    </div>
    <div>
        <app-navigate-back-button></app-navigate-back-button>
        <input class="submit-btn" type="submit" value="{{btnText}}">
    </div>
</form>
