.forgot-password-form{
    border: 1px black solid;
    padding: 12px;
    margin-bottom: 15px;
    text-align: center;
}

.form-control{
    margin-bottom: 25px;
}

.email-control{
    margin-left: -4px;
}

.username-control{
    margin-left: -4px;
}

input{
    width: 200px;
}

.submit-btn{
    cursor: pointer;
    width: 150px;
    margin-left: 10px;
    background-color: lightgreen;
}

.info-icon{
    color: grey !important;
    margin-right: 10px;
}

.new-pass-control{
    margin-left: -6px;
}

.confirm-new-pass-control{
    margin-left: -64px;
}

.right-arrow-icon{
    margin-left: 5px;
}

.verification-code-control{
    margin-left: -50px;
}

.loader {
    border: 6px solid lightskyblue;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 11px;
    height: 11px;
    animation: spin 1s linear infinite;
    float: right;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width: 500px) {
    .form-control {
        margin-left: 0;
    }
}