<form class="forgot-password-form" (ngSubmit)="onSubmit()">
    <p><b>{{headingText}}</b></p>
    <div *ngIf="!isVerificationCodeSent" class="form-control email-control">
        <fa-icon class="info-icon" [ngStyle]="{'color': 'black', 'cursor': 'pointer'}"  [icon]="faInfoCircle" title="A verification code will be sent to you on this Email!"></fa-icon>
        <label for="Email">Email : </label>
        <input type="email" [(ngModel)]="email" name="Email" id="Email" placeholder="Enter Email..." required>
    </div>
    <div *ngIf="isVerificationCodeSent" class="form-control verification-code-control">
        <fa-icon class="info-icon" [ngStyle]="{'color': 'black', 'cursor': 'pointer'}"  [icon]="faInfoCircle" title="Enter the verification code that was sent to you on the email : {{email}} !"></fa-icon>
        <label for="VerificationCode">Verification Code : </label>
        <input type="number" [(ngModel)]="verificationCode" name="VerificationCode" id="VerificationCode" placeholder="Enter Verification Code..." required>
    </div>
    <div *ngIf="isVerificationCodeSent" class="form-control new-pass-control">
        <label for="NewPassword">New Password : </label>
        <input type="password" [(ngModel)]="newPassword" name="NewPassword" id="NewPassword" placeholder="Enter New Password..." required>
    </div>
    <div *ngIf="isVerificationCodeSent" class="form-control confirm-new-pass-control">
        <label for="ConfirmNewPassword">Confirm New Password : </label>
        <input type="password" [(ngModel)]="confirmNewPassword" name="ConfirmNewPassword" id="ConfirmNewPassword" placeholder="Enter New Password Again..." required>
    </div>
    <div>
        <app-navigate-back-button></app-navigate-back-button>
        <button class="submit-btn" type="submit">
            <span>{{btnText}}</span>
            <fa-icon class="right-arrow-icon" [ngStyle]="{'color': 'black', 'cursor': 'pointer'}"  [icon]="faArrowRight"></fa-icon>
        </button>
        <div *ngIf="showLoader" class="loader" title="Loading..."></div>
    </div>
</form>
